@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

a {
  text-decoration: none;
}

html {
  cursor: none;
}
html a:hover {
  cursor: none;
}

a {
  text-decoration: none;
}

:root {
  --color_0: 255, 255, 255;
  --color_27: 60, 67, 147;
  --color_1: 255, 255, 255;
  --color_2: 0, 0, 0;
  --color_3: 237, 28, 36;
  --color_4: 0, 136, 203;
  --color_5: 255, 203, 5;
  --color_6: 114, 114, 114;
  --color_7: 176, 176, 176;
  --color_8: 255, 255, 255;
  --color_28: 90, 100, 220;
  --color_9: 114, 114, 114;
  --color_10: 176, 176, 176;
  --color_11: 0, 0, 0;
  --color_12: 153, 153, 151;
  --color_13: 199, 199, 199;
  --color_14: 232, 230, 230;
  --color_15: 255, 255, 255;
  --color_16: 70, 119, 116;
  --color_17: 105, 179, 175;
  --color_18: 140, 239, 233;
  --color_29: 163, 168, 232;
  --color_19: 196, 247, 244;
  --color_20: 225, 247, 246;
  --color_21: 11, 19, 33;
  --color_22: 52, 61, 77;
  --color_23: 95, 105, 122;
  --color_24: 139, 149, 166;
  --color_25: 183, 193, 211;
  --color_30: 195, 199, 243;
  --color_31: 73, 30, 66;
  --color_32: 147, 60, 132;
  --color_33: 220, 90, 198;
  --color_34: 232, 163, 220;
  --color_35: 243, 195, 235;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0b1321;
  color: white;
  font-family: "Poppins", sans-serif;
  background-size: cover;
}

section {
  padding: 6rem 3rem;
}

.campusamb {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 8rem;
}
.campusamb h1 {
  color: #8cefe9;
}

ul {
  padding-left: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #8cefe9;
  margin-bottom: 0.5rem;
}

p {
  padding: 0.5rem 0;
}

.joinnow {
  margin: 0.5rem;
  text-decoration: none !important;
  margin-left: 0;
  height: 3.2rem;
  width: 10rem;
  border-radius: 5rem;
  background-color: #8cefe9;
  color: #000;
  display: grid;
  place-items: center;
  text-align: center;
  transition: 0.2s ease-out;
  cursor: pointer;
  font-weight: 400;
}
.joinnow:hover {
  border: 2px solid #fff;
  background: transparent;
  color: white;
}

.campus-info {
  height: 80vh;
  overflow-y: scroll;
  padding: 0 3rem;
}

.caimg {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(https://image.freepik.com/free-photo/businessman-black-suit_123766-49.jpg) no-repeat center center;
  background-size: cover;
}

.imgca {
  height: 10rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media only screen and (min-width: 700px) {
  .imgca {
    height: 20rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media only screen and (max-width: 700px) {
  .caimg {
    height: 12rem;
  }
  .campus-info {
    padding: 0;
  }
  .campus-info {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.campus-info::-webkit-scrollbar {
  display: none;
}/*# sourceMappingURL=ca.css.map */