@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
$bg-color: #0b1321;
$secondary-color: #8cefe9;
$para-color: #8b95a6;
$white: #fff;
$black: #000;
$main-font: "Poppins";
*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    text-decoration: none;
}
body{
    background: url(../imgs/footer.png) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Poppins';
    flex-direction: column;
    overflow-x: hidden;

    .main{
        width: 1280px;
        height: fit-content;
        display: flex;
        
        justify-content: center;
        flex-direction: column;
    }
}
.form-div{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.25);
    backdrop-filter: blur(4px);
    padding: 2rem;
    margin:2rem 0 3rem 0;
    margin-top: 10rem;
     align-self: center;
    form{
    
    input,textarea{
        background: rgba(255,255,255,0.25);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    backdrop-filter: blur(4px);
    color: white;
    }
        .form-group{
            display: flex;
            flex-direction: column;
        }
        button{
            width: 100%;
    padding: 10px 15px;
            background-color: #8CEFE9;
            color: #000;
            display: grid;
            place-items: center;
            text-align: center;
            transition: .2s ease-out;
            cursor: pointer;
            font-weight: 400;
        }
    }
    ::placeholder{
        color: rgba(255,255,255,0.5);
        // font-weight: bold;
    }
    .content{
        i{
            font-size: 2rem;
            margin-right: 0.4rem;
    color: rgba(255,255,255,0.5);
    transition: all 500ms ease;
    &:hover{
        color: rgba(255,255,255,1);
        transform: scale(1.2) rotate(360deg);
    }
        }

    }
}
@media screen and (max-width:720px) {
    .content{
        display: none;
    }
    .row{
        width: 100%;
    }
}

@media screen and (min-width:360px) {

.container-foot{
        padding-left: 3rem;
}
}

.contact-submit {
    background-color: #8CEFE9!important;
    color: rgb(0, 0, 0)!important;
    font-weight: 500!important;

    &:hover{
        color: #fff!important;
        
    }

}