  .footer{
    width: 100%;
    height: auto;
    padding: 2rem;
    background: url(../imgs/footer.png) no-repeat;
    background-size: cover;
    backdrop-filter: blur(4px);
    color: #fff;
  }


 
  .footer a{
    text-decoration: none;
    color: #fff;
  }
  .footer address{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer address button{
    padding: 0.5rem 1rem;
  }
  iframe{
    width: 10rem;
    height: 10rem;
  }
  form{
    margin-top: .5rem;
  }
  form button{
    width: 100%;
    padding: 10px 15px;
  }
  form > input{
    margin-bottom: .5rem;
  }
  
  .footer a img {
    height: 30px;
  }
  
  .mail {
    margin-top: 12px!important;
  }
  .address{
  display: flex;
  flex-direction: column;
  }
  .address h5 {
    margin-top: 5px;
    font-weight: bolder;
    margin-bottom: 5px;
  }
  .address * {
    margin: 0.5rem;
    margin-left: 0;
    height: auto;
  }
  .address button{
    padding: 10px 15px;
    width: 10rem;
  }
  
  .credits{
    margin-top: 1.5rem;
    text-align: center;
  }
  .credits p:nth-child(2){
    font-size: 1.2rem;
  }
  
  .footer-icons > a{
    margin: .5rem;
  }
  
  i{
    font-size: 2rem;
    margin-right: 0.4rem;
color: rgba(255,255,255,0.5);
transition: all 500ms ease;
  }
i:hover{
color: rgba(255,255,255,1);
transform: scale(1.2) rotate(360deg);
}

  @media only screen 
   and (max-width : 720px) {
  
    .footer{
        justify-content: center;
        text-align: center;
    }
    .col{
        flex: none;
    }
    .address{
      align-items: center;
    }
    .col:not(:last-child){
      margin-bottom: 1rem;
    }
  
  }