.footer{
    width: 1280px;
    height: auto;
    padding: 2rem;
    background-color: #000!important;
    color: #fff!important;;
    
}

form{
    margin-top: .5rem;
}

form > input{
    margin-bottom: .5rem;
}

.container-foot {
    background-color: #000!important;
}
.footer a img {
    height: 30px;
}

.mail {
    margin-top: 12px!important;
}
.address{
display: flex;
flex-direction: column;
}
.address h5 {
    margin-top: 5px;
    font-weight: bolder;
    margin-bottom: 5px;
}
.address * {
    margin: 0.5rem!important;
    height: auto;
}


.credits{
    margin-top: 1.5rem;
    text-align: center;
}

.footer-icons > a{
    margin: .5rem;
}

button[type=submit]{
    width: 100%;
}

@media only screen 
   and (max-width : 380px) {

    .footer{
        justify-content: center;
        text-align: center;
    }
    iframe{
        width: 250;
        height: 180;
    }
    .col{
        flex: none;
    }

}