.main-container {
  margin: 1rem 0;
  .main-row {
    padding: 1rem;
    border-radius: 1rem;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    margin: 1rem 0;
    img{
        border-radius: 1.5rem;
    }
  }
}
