@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
$bg-color: #0b1321;
$secondary-color: #8cefe9;
$para-color: #8b95a6;
$white: #fff;
$black: #000;
$main-font: "Poppins";
*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    text-decoration: none;
}
a{
    text-decoration: none;
}
:root{
    --color_0: 255,255,255;
    --color_27: 60,67,147;
    --color_1: 255,255,255;
    --color_2: 0,0,0;
    --color_3: 237,28,36;
    --color_4: 0,136,203;
    --color_5: 255,203,5;
    --color_6: 114,114,114;
    --color_7: 176,176,176;
    --color_8: 255,255,255;
    --color_28: 90,100,220;
    --color_9: 114,114,114;
    --color_10: 176,176,176;
    --color_11: 0,0,0;
    --color_12: 153,153,151;
    --color_13: 199,199,199;
    --color_14: 232,230,230;
    --color_15: 255,255,255;
    --color_16: 70,119,116;
    --color_17: 105,179,175;
    --color_18: 140,239,233;
    --color_29: 163,168,232;
    --color_19: 196,247,244;
    --color_20: 225,247,246;
    --color_21: 11,19,33;
    --color_22: 52,61,77;
    --color_23: 95,105,122;
    --color_24: 139,149,166;
    --color_25: 183,193,211;
    --color_30: 195,199,243;
    --color_31: 73,30,66;
    --color_32: 147,60,132;
    --color_33: 220,90,198;
    --color_34: 232,163,220;
    --color_35: 243,195,235;
    --font_0: normal normal bold 60px/1.4em poppins-extralight,poppins,sans-serif;
    --font_1: normal normal normal 16px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
    --font_2: normal normal bold 32px/1.4em poppins-extralight,poppins,sans-serif;
    --font_3: normal normal normal 24px/1.4em poppins-semibold,poppins,sans-serif;
    --font_4: normal normal bold 88px/1.4em poppins-extralight,poppins,sans-serif;
    --font_5: normal normal bold 50px/1.4em poppins-extralight,poppins,sans-serif;
    --font_6: normal normal normal 36px/1.4em poppins-semibold,poppins,sans-serif;
    --font_7: normal normal normal 32px/1.4em poppins-semibold,poppins,sans-serif;
    --font_8: normal normal normal 18px/1.4em questrial,sans-serif;
    --font_9: normal normal normal 16px/1.4em questrial,sans-serif;
    --font_10: normal normal normal 12px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
    --wix-ads-height: 0px;
    --wix-ads-top-height: 0px;
    --site-width: 980px;
    --above-all-z-index: 100000;
    --portals-z-index: 100001;
    --minViewportSize: 320;
    --color_26: 30,33,73;
    --maxViewportSize: 1920;
    --shd : 0.00px 10.00px 20px 0px rgba(11,19,33,0.2);
    --brw: 2px;
    --brd: var(--color_24);
    --bg: var(--color_22);
    --rd: 20px 20px 20px 20px;
    --shd: 0.00px 10.00px 20px 0px rgba(11,19,33,0.2);
    --alpha-bg: 0.2;
    --alpha-brd: 0.1;
    --shc-mutated-brightness: 26,31,39;
}
a{
    text-decoration: none;
}



html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    display: grid;
    place-content: space-around;
    -webkit-box-pack: center;
    place-items: center;
    background-color: #0b1321;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.mheader{
    width: 100vw!important;
    height: 15rem;
    background-color: red;
    margin-top: 5rem;
    background: url(../imgs/m-hero.png) no-repeat;
    background-size: cover;
    .mcontainer{
        width: 100%;
        height: 12rem;
        padding: 3rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: end;

        h3{
            font-size: rem;
            font-weight: bolder;
            color: #8cefe9;
        }
        .btn{
            background-color: #8cefe9;
            border: 2px solid #8cefe9;
            border-radius: 3rem;
            padding: .5rem 1.5rem;
            color: #000;
            font-weight: 500;
            transition: .4s ease-out;

            &:hover{
                background-color: transparent;
                color: #fff;
                border: 2px solid #fff;
            }
        }
    }
}

.envision{
    padding: 2rem;
    height: fit-content;
    background: #0b1321;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    

    .ecard{
        padding: 1rem .7rem;
        height: fit-content;
        width: 20rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border: var(--container-corvid-border-width,var(--brw,1px)) solid var(--container-corvid-border-color,rgba(var(--brd,var(--color_15)),var(--alpha-brd,1)));
        background-color: var(--container-corvid-background-color,rgba(var(--bg,var(--color_11)),var(--alpha-bg,1)));
        border-radius: var(--rd,5px);
        box-shadow: var(--shd,0 1px 4px rgba(0,0,0,.6));
        
        .mvideo {
            height: 10rem;
            width: 100%;
            border-radius: .8rem!important;
        }
        h4{
            font-weight: bolder;
        }
        h4,p{
            margin-top: .5rem;
            padding-left: .2rem;
        }
        
    }
}

.mabout{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 20rem;
    padding: 1rem;
    text-align: center;
    .tab{
        height: 15rem;
        width: 100%;
    }
    h3{
        margin-top: 2rem;
        color: #8cefe9;
    }
    p{
        font-size: .79rem;
    }
}

.details{
    display: flex;
    justify-content: center;
    padding: 5rem 3rem;
    background:url('/imgs/dragon.png');
    background-size: cover;
}

.numcount{
    font-size: 4rem;
}

.campusAmb{
    margin-top: 3rem;
    .container{
        .row{
            .mcampus{
                padding: 2.5rem;
            }
            .col{
                .mca{
                    display: flex;
                    width:20rem;
                    height: max-content;
                    justify-content: center;
                    align-items: center;
                    text-align: -webkit-center;
            
                }
            }
        }
    }
}


.registerca {
    height: 3.5rem;
    width: 10rem;
    border-radius: 5rem;
    background: #8cefe9;
    color: black;
  
    display: grid;
    place-items: center;
    text-align: center;
    transition: 0.2s ease-out;
    cursor: pointer;
    font-weight: 500;
    &:hover {
      border: 2px solid $white;
      background-color: #000;
      color: #fff;
    }
  }

  .testimonial {
      margin: 2rem 0;
    h1{
      text-align: center;
      color: #8cefe9;
      margin-bottom: 1rem;
    }
    overflow: hidden;
    .containerss {
      display: flex;
      animation: slide 16s linear infinite;
    }
    .testimonial-div {
        display: flex;
    margin: 1rem;
    background-color: rgba($color: #000000, $alpha: 0.25);
    backdrop-filter: blur(4px);
    padding: 1rem 1.5rem;
    justify-content: center;
    border-radius: 6px;
    height: fit-content;
    flex-direction: column;
    width: 15rem!important;
      h5 {
        font-size: 1rem;
      }
      p {
        font-size: 0.6rem;
        opacity:0.4;
      }
    }
  
    @keyframes slide {
      0% {
        transform: translateX(0%);
      }
  
      100% {
        transform: translateX(-100%);
      }
    }
  }