.header{
    background-color: #000;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .navbar {
        top:0;
        width: 1280px;
        background: rgb(0, 0, 0);
        padding: 1em;
        position: absolute;
    
        .navbar-brand{
            font-weight: bold;
        }
    }
    .logo-gif{
        width: auto;
        margin-top: -15px;
        height: 60px;
        
    }
    .active{
        font-weight: bold!important;
        color: #2d5eff!important;
    }
    .logotext {
        margin-top: 0.5rem;
        margin-left: -1rem;
        height: 40px;
    }
    
}

