.navbar{
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

    .navbar-brand{
      font-size: 1.5rem;
      font-weight: bold;
    }
   
    a{
      color: #fff;
      &:focus,&:active{
        color: #fff;
      }

    
    }
    .nav-item{
      padding: 0.3rem 0.5rem;
      border-radius: 2rem;
      transition: all 1s ease-in;
      &:hover{
        a{
          color: #8CEFE9;
        }
      }
    }
  
    .navbar-nav{
      margin-left: auto;
    }
  }

  .active {
      color: #8CEFE9;
  }

  .dropdown-menu.show {
    display: block;
    background: #000000d9!important;

}

.dropdown-item:focus, .dropdown-item:hover {
    color: #fff!important;
    background-color: #00000070!important;
}

.navbar-toggler-icon {
  background-image: url(../svg/menu.svg)!important;
}
