@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
$bg-color: #0b1321;
$secondary-color: #8cefe9;
$para-color: #8b95a6;
$white: #fff;
$black: #000;
$main-font: "Poppins";
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
a{
  text-decoration: none;
}
html{
    cursor: none;
    a{
        &:hover{
            cursor: none;
        }
    }
}
a {
  text-decoration: none;
}
:root {
  --color_0: 255, 255, 255;
  --color_27: 60, 67, 147;
  --color_1: 255, 255, 255;
  --color_2: 0, 0, 0;
  --color_3: 237, 28, 36;
  --color_4: 0, 136, 203;
  --color_5: 255, 203, 5;
  --color_6: 114, 114, 114;
  --color_7: 176, 176, 176;
  --color_8: 255, 255, 255;
  --color_28: 90, 100, 220;
  --color_9: 114, 114, 114;
  --color_10: 176, 176, 176;
  --color_11: 0, 0, 0;
  --color_12: 153, 153, 151;
  --color_13: 199, 199, 199;
  --color_14: 232, 230, 230;
  --color_15: 255, 255, 255;
  --color_16: 70, 119, 116;
  --color_17: 105, 179, 175;
  --color_18: 140, 239, 233;
  --color_29: 163, 168, 232;
  --color_19: 196, 247, 244;
  --color_20: 225, 247, 246;
  --color_21: 11, 19, 33;
  --color_22: 52, 61, 77;
  --color_23: 95, 105, 122;
  --color_24: 139, 149, 166;
  --color_25: 183, 193, 211;
  --color_30: 195, 199, 243;
  --color_31: 73, 30, 66;
  --color_32: 147, 60, 132;
  --color_33: 220, 90, 198;
  --color_34: 232, 163, 220;
  --color_35: 243, 195, 235;
  --font_0: normal normal bold 60px/1.4em poppins-extralight, poppins,
    sans-serif;
  --font_1: normal normal normal 16px/1.4em din-next-w01-light,
    din-next-w02-light, din-next-w10-light, sans-serif;
  --font_2: normal normal bold 32px/1.4em poppins-extralight, poppins,
    sans-serif;
  --font_3: normal normal normal 24px/1.4em poppins-semibold, poppins,
    sans-serif;
  --font_4: normal normal bold 88px/1.4em poppins-extralight, poppins,
    sans-serif;
  --font_5: normal normal bold 50px/1.4em poppins-extralight, poppins,
    sans-serif;
  --font_6: normal normal normal 36px/1.4em poppins-semibold, poppins,
    sans-serif;
  --font_7: normal normal normal 32px/1.4em poppins-semibold, poppins,
    sans-serif;
  --font_8: normal normal normal 18px/1.4em questrial, sans-serif;
  --font_9: normal normal normal 16px/1.4em questrial, sans-serif;
  --font_10: normal normal normal 12px/1.4em din-next-w01-light,
    din-next-w02-light, din-next-w10-light, sans-serif;
  --wix-ads-height: 0px;
  --wix-ads-top-height: 0px;
  --site-width: 980px;
  --above-all-z-index: 100000;
  --portals-z-index: 100001;
  --minViewportSize: 320;
  --color_26: 30, 33, 73;
  --maxViewportSize: 1920;
  --shd: 0px 10px 20px 0px rgba(11, 19, 33, 0.2);
  --brw: 2px;
  --brd: var(--color_24);
  --bg: var(--color_22);
  --rd: 20px 20px 20px 20px;
  --shd: 0px 10px 20px 0px rgba(11, 19, 33, 0.2);
  --alpha-bg: 0.2;
  --alpha-brd: 0.1;
  --shc-mutated-brightness: 26, 31, 39;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0b1321;
  color: white;
  font-family: "Poppins", sans-serif;
  // background-color: #8CEFE9;
}

// Sass for all sections
section {
  padding: 6rem 3rem;
}

.hero{
    height: 100vh;
    width: 100%;
    background: url(../imgs/hero-bg.png) no-repeat center center;
    background-size: cover;
    position: sticky;
    top:0;
    z-index: 111;

}


   
  .explore {
    margin: .5rem;
    text-decoration: none!important;
    margin-left: 0;
    height: 3.2rem;
    width: 10rem;
    border-radius: 5rem;
    background-color: #8cefe9;
    color: #000;
    display: grid;
    place-items: center;
    text-align: center;
    transition: 0.2s ease-out;
    cursor: pointer;
    font-weight: 400;
    &:hover {
      border: 2px solid $white;
      background: transparent;
      color: white;
    }
  }

.main-info{
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  position: relative;

  h1 {
    color: #8cefe9;
  }

  p {
    color: gray;
    width: 100%;
    font-family: "Questrial", sans-serif;
  }
}

 #ca {
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
  margin: .5rem;
  height: 3.2rem;
  font-weight: bold;
  width: fit-content;
  padding: .5rem 1rem;
  border-radius: 5rem;
  background-color: #8cefe9;
  color: #000;
  display: grid;
  place-items: center;
  text-align: center;
  transition: 0.2s ease-out;
  cursor: pointer;
  font-weight: 400;
  &:hover {
    border: 2px solid $white;
    background: transparent;
    color: white;
  }
}


.footer-icons-home{
  position: absolute;
  bottom: 20px;
  right: 20px;
  a{
    margin: 1.5rem 1rem;
  }
}





.about {
  height: min-content;
  background: linear-gradient(180deg, #0b1321, #0b1321);
  background: url("../imgs/aboutUsbg.png") no-repeat center center ;
  background-size: contain;
  padding: 5rem 8rem;
  position: sticky;
  top:0;
  z-index: 222;
}

.aboutUs {
  
  h1 {
    color: #8cefe9;
    font-weight: bold;
    font-size: 3.5rem;
  }
}
.about-sub{
  color: #8b95a6;
}
.tabAni {
  width: 150%;
  height: auto;
  margin-left: -8rem;
  margin-top: -10rem;
  animation: swing 5s ease infinite;
}
.about-head {
  font-size: 4rem;
  color: #8cefe9;
}
.about-para {
  margin-top: .5rem;
  line-height: 2;
}
.stats-div {
  text-align: center;
  p {
    font-size: 1.2rem;
  }
  span {
    font-size: 5rem;
  }
}
@keyframes swing {
  0%,100%{
    transform: translateY(0);
  }
  50%{
    transform:translateY(-50px);
  }
}

.footfalls {
  font-size: 5.5rem;
  color: #8cefe9;
  transition: ease-in-out;

  &:hover {
    transform: translateY(-10deg);
  }
}




.tab-video {
  transform: translateX(1rem) translateY(2rem);
}

.opt-menu{
  margin-top: 3rem;
  .col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.testimonial {
  h1{
    text-align: center;
    color: #8cefe9;
    margin-bottom: 1rem;
  }
  overflow: hidden;
  .containerss {
    display: flex;
    animation: slide 16s linear  infinite;
  }
  .testimonial-div {
    display: flex;
    margin: 1rem;
    background-color: rgba($color: #000000, $alpha: 0.25);
    backdrop-filter: blur(4px);
    padding: 1rem 1.5rem;
    justify-content: center;
    border-radius: 6px;
    height: fit-content;
    flex-direction: column;
    width: 15rem!important;
    h5 {
      font-size: 1rem;
    }
    p {
      color: #8cefe9;
      font-size: .8rem;
      opacity:1;
    }
  }

  @keyframes slide {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-100%);
    }
  }
}

.tab{
  background:url("../imgs/tab.png") no-repeat center center;
  background-size: cover;
}