@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

html {
  cursor: none;
}

html a:hover {
  cursor: none;
}

a {
  text-decoration: none;
}

:root {
  --color_0: 255, 255, 255;
  --color_27: 60, 67, 147;
  --color_1: 255, 255, 255;
  --color_2: 0, 0, 0;
  --color_3: 237, 28, 36;
  --color_4: 0, 136, 203;
  --color_5: 255, 203, 5;
  --color_6: 114, 114, 114;
  --color_7: 176, 176, 176;
  --color_8: 255, 255, 255;
  --color_28: 90, 100, 220;
  --color_9: 114, 114, 114;
  --color_10: 176, 176, 176;
  --color_11: 0, 0, 0;
  --color_12: 153, 153, 151;
  --color_13: 199, 199, 199;
  --color_14: 232, 230, 230;
  --color_15: 255, 255, 255;
  --color_16: 70, 119, 116;
  --color_17: 105, 179, 175;
  --color_18: 140, 239, 233;
  --color_29: 163, 168, 232;
  --color_19: 196, 247, 244;
  --color_20: 225, 247, 246;
  --color_21: 11, 19, 33;
  --color_22: 52, 61, 77;
  --color_23: 95, 105, 122;
  --color_24: 139, 149, 166;
  --color_25: 183, 193, 211;
  --color_30: 195, 199, 243;
  --color_31: 73, 30, 66;
  --color_32: 147, 60, 132;
  --color_33: 220, 90, 198;
  --color_34: 232, 163, 220;
  --color_35: 243, 195, 235;
  --font_0: normal normal bold 60px/1.4em poppins-extralight, poppins,
    sans-serif;
  --font_1: normal normal normal 16px/1.4em din-next-w01-light,
    din-next-w02-light, din-next-w10-light, sans-serif;
  --font_2: normal normal bold 32px/1.4em poppins-extralight, poppins,
    sans-serif;
  --font_3: normal normal normal 24px/1.4em poppins-semibold, poppins,
    sans-serif;
  --font_4: normal normal bold 88px/1.4em poppins-extralight, poppins,
    sans-serif;
  --font_5: normal normal bold 50px/1.4em poppins-extralight, poppins,
    sans-serif;
  --font_6: normal normal normal 36px/1.4em poppins-semibold, poppins,
    sans-serif;
  --font_7: normal normal normal 32px/1.4em poppins-semibold, poppins,
    sans-serif;
  --font_8: normal normal normal 18px/1.4em questrial, sans-serif;
  --font_9: normal normal normal 16px/1.4em questrial, sans-serif;
  --font_10: normal normal normal 12px/1.4em din-next-w01-light,
    din-next-w02-light, din-next-w10-light, sans-serif;
  --wix-ads-height: 0px;
  --wix-ads-top-height: 0px;
  --site-width: 980px;
  --above-all-z-index: 100000;
  --portals-z-index: 100001;
  --minViewportSize: 320;
  --color_26: 30, 33, 73;
  --maxViewportSize: 1920;
  --shd: 0px 10px 20px 0px rgba(11, 19, 33, 0.2);
  --brw: 2px;
  --brd: var(--color_24);
  --bg: var(--color_22);
  --rd: 20px 20px 20px 20px;
  --shd: 0px 10px 20px 0px rgba(11, 19, 33, 0.2);
  --alpha-bg: 0.2;
  --alpha-brd: 0.1;
  --shc-mutated-brightness: 26, 31, 39;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0b1321;
  color: white;
  font-family: "Poppins", sans-serif;
}

body .main {
  width: 1280px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

section {
  padding: 6rem 3rem;
}

.hero {
  height: 720px;
  padding: 0;
  background: url(../imgs/hero-bg.png) no-repeat;
  background-size: cover;
  overflow: hidden;
}

a {
  text-decoration: none !important;
}

.hero-clean {
  width: 100%;
  height: 100%;
}

.hero-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 720px;
  width: 100%;
  margin-top: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3rem 2rem;
  color: white;
  margin-left: 8rem;
  padding: 2rem;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-left: 38rem;
}

.hero-info .textInfo {
  padding-top: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10rem;
}

.hero-info .textInfo h1 {
  color: #8cefe9;
}

.hero-info .textInfo p {
  color: gray;
  width: 100%;
  font-family: "Questrial", sans-serif;
}

.hero-info .textInfo .explore {
  margin: .5rem;
  height: 3.2rem;
  width: 10rem;
  border-radius: 5rem;
  background-color: #8cefe9;
  color: #000;
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-align: center;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  cursor: pointer;
  font-weight: 400;
}

.hero-info .textInfo .explore:hover {
  border: 2px solid #fff;
  background: transparent;
  color: white;
}

.hero-info .infoCard {
  margin-top: 5rem;
  border: var(--container-corvid-border-width, var(--brw, 1px)) solid var(--container-corvid-border-color, rgba(var(--brd, var(--color_15)), var(--alpha-brd, 1)));
  background-color: var(--container-corvid-background-color, rgba(var(--bg, var(--color_11)), var(--alpha-bg, 1)));
  border-radius: var(--rd, 5px);
  -webkit-box-shadow: var(--shd, 0 1px 4px rgba(0, 0, 0, 0.6));
          box-shadow: var(--shd, 0 1px 4px rgba(0, 0, 0, 0.6));
  padding: 1rem;
  width: 22rem;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10rem;
}

.hero-info .infoCard video {
  width: 20rem;
  border-radius: 0.5rem;
}

.hero-info .infoCard h3 {
  margin-top: 0.5rem;
}

.hero-info .infoCard p {
  margin-top: 0.5rem;
  width: 20rem;
  padding: 0.2rem;
  color: gray;
}

.hero-info .infoCard .ourTeam {
  height: 3.5rem;
  width: 10rem;
  border-radius: 5rem;
  color: white;
  border: 3px solid white;
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-align: center;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  cursor: pointer;
  font-weight: 400;
}

.hero-info .infoCard .ourTeam:hover {
  border: 2px solid #8cefe9;
  background: #8cefe9;
  color: black;
}

.about {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  background: -webkit-gradient(linear, left top, left bottom, from(#0b1321), to(#0b1321));
  background: linear-gradient(180deg, #0b1321, #0b1321);
  background-size: cover;
  padding: 10rem 8rem;
}

.aboutUs h1 {
  color: #8cefe9;
  font-weight: bold;
  font-size: 3.5rem;
}

.tabAni {
  width: 150%;
  height: auto;
  margin-left: -8rem;
  margin-top: -10rem;
  -webkit-animation: swing 5s ease infinite;
          animation: swing 5s ease infinite;
}

.about-head {
  font-size: 4rem;
  color: #8cefe9;
}

.about-para {
  line-height: 2;
}

.stats-div p {
  font-size: 1.2rem;
}

.stats-div span {
  font-size: 5rem;
}

@-webkit-keyframes swing {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

@keyframes swing {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

.footfalls {
  font-size: 5.5rem;
  color: #8cefe9;
  -webkit-transition: ease-in-out;
  transition: ease-in-out;
}

.footfalls:hover {
  -webkit-transform: translateY(-10deg);
          transform: translateY(-10deg);
}

.campusAmb {
  background-color: #0b1321;
  color: #fff;
  height: 720px;
  position: relative;
  -webkit-transition: all 1.2s ease-out;
  transition: all 1.2s ease-out;
}

.ca-img {
  background: url(../imgs/CA.jpg) no-repeat;
  background-size: contain;
  margin-right: 1rem;
}

.ca-info {
  margin-top: -2rem;
}

.registerca {
  height: 3.5rem;
  width: 10rem;
  border-radius: 5rem;
  background-color: white;
  color: black;
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-align: center;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  cursor: pointer;
  font-weight: 500;
}

.registerca:hover {
  border: 2px solid #000;
  background: #8cefe9;
  color: black;
}

#slide .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: slide 10s linear infinite 2s;
          animation: slide 10s linear infinite 2s;
}

#slide .slide div {
  margin-right: 1rem;
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  padding: 2rem;
  border-radius: 1rem;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.hero-info::-webkit-scrollbar {
  display: none;
}

.campusAmb::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 768px) {
  /* Styles here */
}
/*# sourceMappingURL=style.css.map */