@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  overflow-x: hidden;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background: #0b1321;
}

i {
  font-size: 1.4rem !important;
}

.main-container {
  margin-top: 7rem;
  max-width: 1280px !important;
}

.tcontain {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 5px 0;
}

.container .card {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 20px;
  overflow: hidden;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}

.container .card .content {
  position: absolute;
  bottom: -12%;
  width: 100%;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  -webkit-box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  -webkit-transition: bottom 0.5s;
  transition: bottom 0.5s;
  -webkit-transition-delay: 0.65s;
          transition-delay: 0.65s;
}

.container .card:hover .content {
  bottom: 0;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.container .card .content .contentBx h3 {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 15px;
  line-height: 1.1em;
}

.container .card:hover .content .contentBx h3 {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.container .card .content .contentBx h3 span {
  font-size: 12px;
  font-weight: 300;
  text-transform: initial;
}

.container .card .content .sci {
  position: relative;
  bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .card .content .sci li {
  list-style: none;
  margin: 0 10px;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  -webkit-transition-delay: calc(0.2s * var(--i));
          transition-delay: calc(0.2s * var(--i));
}

.container .card:hover .content .sci li {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.container .card .content .sci li a {
  color: white;
  font-size: 24px;
}

.imgBx {
  width: 300px;
  height: 400px;
}

.team-head {
  text-align: center;
  color: #8cefe9;
  margin: 0;
}

.stf {
  margin: 1rem 0;
}

.impcard {
  border: 1px solid #8cefff !important;
}

.dhruvil-shah {
  background: url(https://i.ibb.co/Hx6GvGN/Dhruvil-Shah.png) no-repeat center center;
  background-size: contain;
}

.jinay-shah {
  background: url(https://i.ibb.co/XWz70mh/Jinay-Shah-1.png) no-repeat center center;
  background-size: contain;
}

.pujan-shah {
  background: url(https://i.ibb.co/MssQ9wF/Pujan-Shah.png) no-repeat center center;
  background-size: contain;
}

.bhaskar-sarkar {
  background: url(https://i.ibb.co/6sSbxWR/Bhaskar-Sarkar.png) no-repeat center center;
  background-size: contain;
}

.manish-sharma {
  background: url(https://i.ibb.co/v4bWFNK/Manish-Sharma.png) no-repeat center center;
  background-size: contain;
}

.ankit-yadav {
  background: url(https://i.ibb.co/NZF3G4h/Ankit-Yadav.png) no-repeat center center;
  background-size: contain;
}

.archi-jain {
  background: url(https://i.ibb.co/1Z5DNgB/Archi-Jain.png) no-repeat center center;
  background-size: contain;
}

.vidhi-tank {
  background: url(https://i.ibb.co/pLBSZ7k/Vidhi-Tank.png) no-repeat center center;
  background-size: contain;
}

.vivek-agrawal {
  background: url(https://i.ibb.co/dbs2QVm/Vivek-Agrawal.png) no-repeat center center;
  background-size: contain;
}

.yugen-galani {
  background: url(https://i.ibb.co/cFF3PCd/Yugen-Galani.png) no-repeat center center;
  background-size: contain;
}

.harit-singh {
  background: url(https://i.ibb.co/DKRqqDh/Harit-Singh.png) no-repeat center center;
  background-size: contain;
}

.bipin-panchal {
  background: url(https://i.ibb.co/LvSdTmk/Bipin-Panchal.png) no-repeat center center;
  background-size: contain;
}

.manav-chetwani {
  background: url(https://i.ibb.co/B6ngmSx/Manav-Chetwani.png) no-repeat center center;
  background-size: contain;
}

.dilan-bhagat {
  background: url(https://i.ibb.co/R3fNnSr/Dilan-Bhagat.png) no-repeat center center;
  background-size: contain;
}

.sarthak-bhadiyadara {
  background: url(https://i.ibb.co/W20q31J/Sarthak-Bhadiyadara-1.png) no-repeat center center;
  background-size: contain;
}

.swapnil-verma {
  background: url(https://i.ibb.co/j8J7DsK/Swapnil-Verma.png) no-repeat center center;
  background-size: contain;
}

.devang-acharya {
  background: url(https://i.ibb.co/z7Scs34/Devang-Acharya.png) no-repeat center center;
  background-size: contain;
}

.shrey-parikh {
  background: url(https://i.ibb.co/zxbTzwL/Shrey-Parikh.png) no-repeat center center;
  background-size: contain;
}

.krenil-patel {
  background: url(https://i.ibb.co/XFBdsYM/Krenil-Patel.png) no-repeat center center;
  background-size: contain;
}

.ayan-ali {
  background: url(https://i.ibb.co/YbGzL8z/Ayan-Ali.png) no-repeat center center;
  background-size: contain;
}

.devanshi-pandya {
  background: url(https://i.ibb.co/myyffxC/Devanshi-Pandya.png) no-repeat center center;
  background-size: contain;
}

.jyotiraditya-gandhi {
  background: url(https://i.ibb.co/SJ5WmWJ/Jyotiraditya-Gandhi-1.png) no-repeat center center;
  background-size: contain;
}

.nishant-tomar {
  background: url(https://i.ibb.co/SJ5WmWJ/Jyotiraditya-Gandhi-1.png) no-repeat center center;
  background-size: contain;
}

.manas {
  background: url(https://i.ibb.co/c36FFPW/Manas-1.png) no-repeat center center;
  background-size: contain;
}
/*# sourceMappingURL=team.css.map */