@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
$bg-color: #0b1321;
$secondary-color: #8cefe9;
$para-color: #8b95a6;
$white: #fff;
$black: #000;
$main-font: "Poppins";
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
a{
  text-decoration: none;
}
html{
    cursor: none;
    a{
        &:hover{
            cursor: none;
        }
    }
}
a {
  text-decoration: none;
}
:root {
  --color_0: 255, 255, 255;
  --color_27: 60, 67, 147;
  --color_1: 255, 255, 255;
  --color_2: 0, 0, 0;
  --color_3: 237, 28, 36;
  --color_4: 0, 136, 203;
  --color_5: 255, 203, 5;
  --color_6: 114, 114, 114;
  --color_7: 176, 176, 176;
  --color_8: 255, 255, 255;
  --color_28: 90, 100, 220;
  --color_9: 114, 114, 114;
  --color_10: 176, 176, 176;
  --color_11: 0, 0, 0;
  --color_12: 153, 153, 151;
  --color_13: 199, 199, 199;
  --color_14: 232, 230, 230;
  --color_15: 255, 255, 255;
  --color_16: 70, 119, 116;
  --color_17: 105, 179, 175;
  --color_18: 140, 239, 233;
  --color_29: 163, 168, 232;
  --color_19: 196, 247, 244;
  --color_20: 225, 247, 246;
  --color_21: 11, 19, 33;
  --color_22: 52, 61, 77;
  --color_23: 95, 105, 122;
  --color_24: 139, 149, 166;
  --color_25: 183, 193, 211;
  --color_30: 195, 199, 243;
  --color_31: 73, 30, 66;
  --color_32: 147, 60, 132;
  --color_33: 220, 90, 198;
  --color_34: 232, 163, 220;
  --color_35: 243, 195, 235;
  --font_0: normal normal bold 60px/1.4em poppins-extralight, poppins,
    sans-serif;
  --font_1: normal normal normal 16px/1.4em din-next-w01-light,
    din-next-w02-light, din-next-w10-light, sans-serif;
  --font_2: normal normal bold 32px/1.4em poppins-extralight, poppins,
    sans-serif;
  --font_3: normal normal normal 24px/1.4em poppins-semibold, poppins,
    sans-serif;
  --font_4: normal normal bold 88px/1.4em poppins-extralight, poppins,
    sans-serif;
  --font_5: normal normal bold 50px/1.4em poppins-extralight, poppins,
    sans-serif;
  --font_6: normal normal normal 36px/1.4em poppins-semibold, poppins,
    sans-serif;
  --font_7: normal normal normal 32px/1.4em poppins-semibold, poppins,
    sans-serif;
  --font_8: normal normal normal 18px/1.4em questrial, sans-serif;
  --font_9: normal normal normal 16px/1.4em questrial, sans-serif;
  --font_10: normal normal normal 12px/1.4em din-next-w01-light,
    din-next-w02-light, din-next-w10-light, sans-serif;
  --wix-ads-height: 0px;
  --wix-ads-top-height: 0px;
  --site-width: 980px;
  --above-all-z-index: 100000;
  --portals-z-index: 100001;
  --minViewportSize: 320;
  --color_26: 30, 33, 73;
  --maxViewportSize: 1920;
  --shd: 0px 10px 20px 0px rgba(11, 19, 33, 0.2);
  --brw: 2px;
  --brd: var(--color_24);
  --bg: var(--color_22);
  --rd: 20px 20px 20px 20px;
  --shd: 0px 10px 20px 0px rgba(11, 19, 33, 0.2);
  --alpha-bg: 0.2;
  --alpha-brd: 0.1;
  --shc-mutated-brightness: 26, 31, 39;
}

$border-radius-size: 14px;
$barbarian: #EC9B3B;
$archer: #EE5487;
$giant: #F6901A;
$goblin: #82BB30;
$wizard: #4FACFF;

*, *:before, *:after {
  box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0b1321;
    color: white;
    font-family: "Poppins", sans-serif;
    // background-color: #8CEFE9;
}
section {
    padding: 6rem 3rem;
  }

  .title{
      text-align: center;
      color: $secondary-color;
  }

  .tech-events{
      margin-top: 1rem;
      .row{
        margin: 3rem 0;
       
        .col{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
  }

  .card {
    border-radius: 0.8rem;
    border: none;
    // width: 18rem;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    // color: white;
    padding: 1rem;
  }

  .btn-register{
      background-color: $secondary-color!important;
      color: #000;
      font-weight: 400;
      border: 2px solid $secondary-color;
      width: 100%;
      margin-bottom: .5rem;

      &:hover{
          background-color: transparent!important;
          color: #fff;
          
      }
  }

  .btn-secondary{
    background-color: transparent!important;
    color: #fff;
    font-weight: 400;
    border: 2px solid $secondary-color;
    width: 100%;
    margin-bottom: .5rem;

    &:hover{
        background-color: $secondary-color!important;
        color: #000;
    }
}